body {
  background-color: #400716;
  color: #9CA6A2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#about-app {
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  text-align: center;
}

#landing-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.team {
  width: 200rem;
}

.card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  max-width: 32%;
  max-height: 600px;
  margin: auto;
  padding: auto;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.021);
  text-align: center;

}

.card Img {
  height: 200px;
  width: 250px;
  align-items: center;
  padding: 2.35rem;
}

.card:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.687);
}

h2 {
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  ;
}

/* Img {
width: 100%;
height: 100%;
} */