
.nav {
  display: flex;
  margin: 1rem 0;
  justify-content: space-around;
  border: 1px solid black;
}

.nav-item a {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: bold;
}

.nav-item:hover {
  opacity: .4;
  text-decoration: underline;
}
